<footer class="footer">
  <small>
    <strong><a href="http://www.invita.hr">Myrecipes test application</a></strong>
    by <em><a href="http://www.invita.hr">InVita d.o.o.</a></em>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %></li>
    </ul>
  </nav>
</footer>